<form [formGroup]="employeeForm" (ngSubmit)="onFormSubmitted(employeeForm.value)">
  <input type="text" formControlName="name" placeholder="Name">
  <input type="text" formControlName="surname" placeholder="Surname">
  <input type="number" formControlName="age" placeholder="Age">
  <input type="number" formControlName="salary" placeholder="Salary">
  <input type="submit" value="Submit">
</form>

<div *ngIf="!employeeForm.invalid">
  Your new employee: {{employeeForm.value.name}} {{employeeForm.value.surname}}, age: {{employeeForm.value.age}} with salary: {{employeeForm.value.salary}} will be added to the system.
</div>

