<ng-template #empty> There is no data </ng-template>


<table class="table">
  <thead>
  <tr>
    <th class="rows">Id</th>
    <th class="rows">Name</th>
    <th class="rows">Remove</th>
  </tr>
  </thead>
  <tbody *ngIf="data$ | async as data; else empty">
  <tr *ngFor="let employee of data">
    <td class="rows">{{ employee.personalNumber }}</td>
    <td class="rows">{{ employee.name }}</td>
    <td class="rows"><button class="remove-button button-45" (click)="remove(employee.personalNumber)"> - </button></td>
  </tr>
  </tbody>
</table>
